@model TravelAgencyBackend.Models.Cart

@{
    ViewData["Title"] = "Create";
}

<h1>新增</h1>

<h4>Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group"> *@
            @*     <label asp-for="MemberId" class="control-label">會員編號</label> *@
            @*     <select asp-for="MemberId" class ="form-control" asp-items="ViewBag.MemberId"></select> *@
            @* </div> *@

            <div class="form-group">
                <label asp-for="MemberId" class="control-label">會員編號</label>
                <select asp-for="MemberId" class="form-control" asp-items="@ViewBag.MemberId">
                    <option value="">請選擇會員</option>
                </select>
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label">商品編號</label>
                <input asp-for="ItemId" class="form-control" />
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label">類別</label>
                <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<CartCategory>()"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label">狀態</label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<CartStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (PermissionChecker.CanViewCarts)
    {
        <a asp-action="Index">返回列表</a>
    }
    else
    {
        <a asp-action="Index" class="disabled"
           tabindex="-1" aria-disabled="true" onclick="return false;">
        返回列表
        </a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
