@model TravelAgencyBackend.Models.Content
@* @model TravelAgencyBackend.ViewModels.CustomTravelPendingViewModel *@


@{
    ViewData["Title"] = "CreateContent";
}

<h2>新增行程內容</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateContent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group"> 
           <label asp-for="CustomTravelId" class="control-label"></label>
                <input asp-for="CustomTravelId" value="@ViewBag.CoustomTravelId" class="form-control" readonly />
                <span asp-validation-for="CustomTravelId" class="text-danger"></span> 
            </div> 
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <input asp-for="ItemId" class="form-control" />
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelName" class="control-label"></label>
                <input asp-for="HotelName" class="form-control" />
                <span asp-validation-for="HotelName" class="text-danger"></span>
            </div>
            <div class="mt-4">
                <input type="submit" value="新增" class="btn btn-primary" />
                <a asp-action="ContentList" asp-route-id="@ViewBag.CoustomTravelId" class="btn btn-secondary">返回</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
